.main-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right, #334d50, #cbcaa5);
    margin-bottom: 2vh;
    height: 70px;
}

.navbar-web-container {
    position: fixed;
    display: none;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
}

.nav-link {
    transition: all 0.5s;
    color: rgba(255, 255, 255, 0.7);
}

.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text {
    color: rgba(255, 255, 255, 0.7);
}

.dark-pink-text {
    color: #ac003a;
}

.dark-amber-text {
    color: #ff6f00;
}

.dark-teal-text {
    color: #004d40;
}

.nav-item {
    text-align: center;
}


/* Website Mode */

@media (min-width: 765px) {
    .main-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .navbar-toggler,
    .navbar-collapse>* {
        display: none;
    }
    .navbar-web-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nav-link,
    .contact-click {
        padding: 0 16px;
    }
    .logo {
        grid-column: (5/6);
    }
    .nav-img {
        padding: 0;
        margin: 0;
        display: block;
        transform: scale(0.2)
    }
}