.mail-full-list:first-child {
    margin-top: 170px;
}

.mail-list {
    /* margin-top: 80px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    width: 100%;
}

.inbox-list {
    border-radius: 3px;
    margin: 0.0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(to right, #005aa7, #fffde4);
    border-bottom: 1px solid black;
    transition: transform 0.3s
}

@media (max-width:650px) {
    .papa-div-list {
        display: block;
        margin: 0 auto 0 0;
        width: 100%;
    }
    .inbox-list {
        font-size: 70%;
    }
    .mail-controlers {
        display: block;
        margin: 0 auto;
        width: 100%;
        transform: scale(0.8)
    }
}

.inbox-list:hover {
    font-weight: bold;
}

.inbox-list:hover {
    cursor: pointer;
    border-bottom: -1px solid black;
    border-top: -1px solid black;
    transform: scale(1.004);
    transition: transform 0.3s ease;
    opacity: 0.92;
}

.mail-line-details {
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.mail-from {
    font-size: 110%;
    margin-right: 5px;
}

.mail-subject {
    font-weight: 700;
    margin-right: 5px;
}

.delete-mail-inline {
    top: 0;
    float: right;
    margin: 5px;
}

.delete-mail-inline:hover {
    font-weight: bolder;
}

.msg-read {
    background-color: yellow;
}

.msg-unread {
    background: whitesmoke;
}

.mark-as-important {
    color: black;
}

.mark-as-important:hover {
    background-color: Gold;
    border-radius: 6px;
}

.msg-important {
    background-color: Gold;
}

.mail-controlers {
    display: flex;
    align-content: space-between;
}

.mail-controlers p {
    margin: 8px;
}

.inbox-container {
    margin-left: 160px;
}

.search-mail-container button {
    margin-left: 3px;
}

.search-mail-container {
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    position: fixed;
    margin-top: 70px;
    padding: 20px;
    z-index: 1;
    width: 100vw;
}

@media (max-width:650px) {
    .search-mail-container {
        flex-direction: column;
        float: left;
    }
    .mail-side-bar button {
        transform: scale(0.8)
    }
    .mail-side-bar {
        padding-top: 77px;
        display: flex;
        justify-items: center;
        margin: 0;
    }
    .inbox-container {
        margin-left: 120px;
    }
}

.unread-text {
    margin: 10px;
}

.mail-content {
    overflow: visible;
}

.sort-text {
    /* float: right; */
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
}

.sort-text p {
    margin: 0 10px;
}

.mail-full-list .btn {
    transform: scale(0.8)
}